body{
  overflow: hidden;
  font-size:14
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --green:#107c41;
  --green2:#0c5e31;
  --white:#fff;
  --grey:grey;
  --light_grey:lightgrey;
  --grey3:rgb(241,241,241);
  --black:#0000;
  --red:#eb2d2d;
}

.container{
  height: 100vh;
  user-select: none;
  position: relative;
}

.title_bar{
  height: 5vh;
  background-color: var(--green);
  color:var(--white);
  display:flex;
  justify-content:center;
  align-items: center;
}
.menu_bar{
  height: 5vh;
  background-color:var(--green);
  display: flex;
}

.menu_item{
  padding-left: calc(0.0625em*18); /*px to em, 1em = 16px*/
  padding-right: calc(0.0625em*18);
  color:var(--white);
  display: flex;
  align-items: center;
  font-size:calc(0.0625em*17)
}

.menu_item.selected{
  background-color:var(--white)!important;
  color:var(--green);
  cursor: none !important;
  border-radius: 2px 2px 0px 0px;
}

.menu_item:hover{
  background-color:var(--green2);
   cursor: pointer;
}

.menu_icon_bar{
  height: 6vh;
  display:flex;
  align-items:center;
  background-color: var(--grey3);
}

.menu_icon{
  padding-left: calc(0.0625em*5); /*px to em, 1em = 16px*/
  padding-right: calc(0.0625em*5);
  padding-top:calc(0.0625em*3);
  padding-bottom:calc(0.0625em*3);
}

.menu_icon:hover{
  background-color:var(--light_grey);
  cursor:pointer;
}

.selector{
 height:calc(0.0625em*35); 
 margin: 0.2em;
 outline:none;
 border:none; 
 font-size:calc(0.0625em*14);
 background-color:var(--white);
  
}

.selector:hover{
/*   background-color:var(--light_grey); */
}

.selector.font_family{
  width:calc(0.0625em*150);
}

.selector.font_family{
  
}

.formula_bar{
  height: 5vh;
  display: flex;
  align-items: flex-end;
  padding: 0 2px;
  background-color: var(--grey3);
}

.formula_editor{
border-top: 1px solid var(--light_grey);
border-right: 1px solid var(--light_grey);
border-left: 1px solid var(--light_grey);   
background-color: var(--white);  
padding: 0.2em 0.7em;
display: flex;
align-items: center;  
outline-color: var(--green);
}

.show_selected_cell{
    width: 20vw;
    height: 75%;
}

.function_sign{
  text-align: center;
  height: 75%;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formula_input{
  height: 75%;
  width: calc(100vw - 23vw);
}


.data_container{
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
}

.select_all{
  width:30px;
  height:30px;
  border:1px solid var(--light_grey);
}

.column_name_container{
  width:calc(100vw - 30px);
  height:30px;
  border:1px solid var(--light_grey);
  display: flex;
  overflow:hidden;
}

.column_name{
  min-width: 100px;
  padding: 0.2em;
  text-align: center;
  border-right:1px solid var(--grey);
}

.row_name_container{
  width:30px;
  height:calc(75vh - 30px);
  border:1px solid var(--light_grey);
  overflow: hidden;
}

.row_name{
    min-height: 25px;
     border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_cell_container{
  width:calc(100vw - 30px);
  height:calc(75vh - 30px);
  border:1px solid var(--light_grey);
  overflow: scroll;
  scrollbar-width:thin;
}

.cell_row{
  display:flex;
}

.input_cell{
  min-width: 100px;
  height:25px;
  border-right: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  cursor:cell;
outline :none;
overflow: hidden;
 word-wrap: inherit;
   font-family: Poppins;
}

.input_cell.selected{
  border: 2px solid var(--green);
  background-color: var(--white);
  overflow: hidden;
}

.sheet_bar{
  height: 4vh;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
}

.scroller_icon{
font-size: 1.8em;
padding: 0em 0em 0.2em 0em;
}

.scroller_icon:hover{
  cursor:default;  
}

.add_icon{
    margin: 0em 0.5em;
    border-radius: 50%;
    background: var(--green);
    color: var(--white); 
}

.add_icon:hover{
  transform:scale(1.1);
  cursor:pointer;
}

.sheet_tab_container{
  border:1px solid var(--light_grey);
  flex-grow:1;
  display: flex;
  gap: 6px;
  overflow: hidden;
  max-width: calc(100vw - 111px);
}
.sheet_tab_container .sheet_tab{
  padding: 0em 0.2em;
  min-width: 4.5em;
  text-align:center;
  border-right:1px solid var(--light_grey);
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}

.sheet_tab:hover{
  cursor:pointer;
  background-color: var(--light_grey);
}

.sheet_selected{
  border-bottom: 4px solid var(--green);
}

.sheet_selected:hover{
  cursor: default;
  background: var(--white) !important;
}

.selected{
  background-color: var(--light_grey);
}

/* multiselect feature for cells */
.input_cell.top_cell_selected{
  border-top:none;
}

.input_cell.bottom_cell_selected{
  border-bottom:1px solid var(--light_grey);
/*   border-top:none !important; */
}

.input_cell.left_cell_selected{
  border-left:none;
}

.input_cell.right_cell_selected{
  border-right:1x solid var(--light_grey);
/*   border-top:none !important; */
}

.icon_color_fill{
  position:relative;
}

.color_picker{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
  cursor:pointer;
}

.sheet_options_modal{
    position: absolute;
    bottom: 5vh;
    background: var(--white);
/*     right: calc(100vw - 182px); */
    height: 60px;
    width: 71px;
    z-index: 100;
    box-shadow: 0 0 12px 0px var(--light_grey);
    visibility: hidden;
}

.sheet_rename,.sheet_delete{
  height: 30px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheet_rename:hover , .sheet_delete:hover{
background-color: var(--light_grey);
}

/* sheet rename modal  */
.sheet_rename_modal{
    height: 155px;
    width: 300px;
    background: var(--white);
    box-shadow: 0 0 12px 0px var(--light_grey);
    position: absolute;
    top: calc(100vh/2 - 78px);
    left: calc(100vw/2 - 150px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}

.new_sheet_name{
font-size: 18px;
height: 22px;
outline-color: var(--green);  
padding: 10px 3px;  
}

.action_buttons{
display: flex;
justify-content: space-evenly;
width: 100%;  
}

.rename_button , .cancel_button{
  font-size: medium;
  padding: 5px 11px;
  cursor: pointer;
  border: 1px solid var(--grey);
  border-radius: 2px;
}

.rename_button{
  background-color: var(--green);
  color: var(--white);
}

.cancel_button{
  color: black;
  background-color: var(--light_grey);
}

.rename_button:hover{
  background-color: var(--green2);
}

.cancel_button:hover{
  background-color: var(--red);
  color: var(--white);
}

.modal_title{
font-size: 20px;
}
